.date-selector-container {
    font-family: 'Roboto Mono';
    font-size: var(--calendar-header-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 0 20px;
}