.hour-input-container span{
    color: var(--black-theme-placeholder-font-color);
    font-size: var(--standard-font-size);
    padding: 0;
}

.hour-input-container span:first-child{
    display: block;
    margin-bottom: 5px;
}

.hour-input-container div span{
    margin: 0 5px;
}

.hour-input-container div{
    display: flex;
}

.hour-cell {
    width: 10px;
    border: none;
    border-radius: 4px;
    
    background-color: var(--black-theme-input-background-color);
    border-bottom: 1px solid rgb(155, 152, 152);
    font-size: var(--standard-font-size);
    font-weight: 600;

    color: var(--black-theme-placeholder-font-color);
}

.hour-cell:not(:first-child){
    margin-left: 2px;
}

.hour-input-container button {
    padding: 0;
    background-color: #E9E5D680;
    width: 30px;
    height: 20px;
    margin-left: 20px;
    font-size: 0.8rem;
}