:root {
  --black-theme-calendar-header-color: #323232;
  --black-theme-calendar-body-color: #2a2929;
  --black-theme-calendar-dropdown-color: #272829;
  --black-theme-font-color: #efefef;

  --calendar-header-font-size: 1.5rem;
  --calendar-column-header-font-size: 1.08rem;
  --calendar-body-font-size: 1.05rem;
  --calendar-dropdown-font-size: 1.1rem;
  --calendar-day-cell-font-size: 1.3rem;

  --event-counter-bubble-background: #cc2649;
}

body {
  font-size: 62.5%;
}

.no-border-btn {
  padding: 10px;
  height: fit-content;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}